* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
body {
  font-family: "Segoe UI", Arial, sans-serif;
  /* line-height: 1.4; */
  /* background-color: #7f66b9; */
  color: #1f1f1f;
}

/* On screens that are 768px or less */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
    margin-bottom: 14px;
  }
  .meme-container {
    flex-direction: column;
  }
  .meme > h2 {
    font-size: 30px;
  }
}
